/*
Jeff   7/26/2024
index.css
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
body{
    font-family: 'Open Sans', sans-serif !important;
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    font-size: 1rem !important;
    text-rendering: optimizeLegibility;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
form, .output-container{
    max-width: 700px;
    width: 100%;
    min-height: 300px !important;
}

div[data-output="false"]{
    visibility: hidden !important;
}
div[data-output="true"]{
    visibility: visible !important;
}
